html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #1b1b1b;
}

button{
    position: fixed;
    z-index: 1;
}

ul li{
    list-style: none;
}

.first-base{
    height: 100vh;
    /* background-color: #1b1b1b; */
    /* background-image: url("../images/back_fl_1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #eeeeee;
    position: relative;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "info-side menu menu"
        "logo logo asideInfo"
        "selector go-down go-down";

    transition: all 1s;
}

.first-base.background-1{
    background-image: url("../images/back_fl_1.png");
}
.first-base.background-2{
    background-image: url("../images/back_fl_2.png");
}
.first-base.background-3{
    background-image: url("../images/back_fl_3.png");
}
.first-base.background-4{
    background-image: url("../images/back_fl_4.png");
}
.first-base.background-5{
    background-image: url("../images/back_fl_5.png");
}

/* (O) Todas as marcações da parte superior esquerda */


.left-top-info{
    /* background-color: #5b4ed0; */
    /*grid-template-divisor*/
    grid-area: info-side;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.left-top-info img{
    width: auto;
    height: auto;
    max-height: 2.8125em;
    max-width: 6.625em;
    pointer-events: none;
}

/* .left-top-info h1{
    font-family: "titleTopLeft";
} */

.left-top-info .divisor{
    animation: animateBar .5s linear .4s;
    background-color: #f59a45;
    width: .15em;
    height: 4em;
    border-radius: 1em;
}

.text-left-top-info-container{
    /* background-color: yellow; */
    width: 5.625em;
    height: 3.75em;
    margin-left: -.8em;
}

.text-left-top-info-container ul{
    text-decoration: none;
    position: relative;
}

.text-left-top-info-container ul li{
    position: absolute;
}

.text-left-top-info-container ul li:nth-child(1){
    animation: flipTop 1.5s ease-in-out;
    top: -0.9375em;
}
.text-left-top-info-container ul li:nth-child(2){
    animation: flipMid 1.5s ease-in-out;
    top: 0.25em;
}
.text-left-top-info-container ul li:nth-child(3){
    animation: flipDown 1.5s ease-in-out;
    top: 1.25em;
}
/* (I) Todas as marcações da parte superior esquerda */


/* (O) Todas as marcações da parte superior direita */

.menu{
    /* background-color: #b61212;  */
    /*grid-template-divisor*/
    grid-area: menu;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: .3em;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li a{
    padding: .6em;
    transition: .2s all ease-in-out;

}

.menu ul li a:hover{
    /* background-color: #f59a45; */
    background-color: rgba(245, 154, 69, .7);
}

/* (I) Todas as marcações da parte superior esquerda */


/* (O) Todas as marcações da parte central lateral */

.asideInf{
    /* background-color: #71803b;  */
    /*grid-template-divisor*/
    grid-area: asideInfo;
    display: grid;
    align-items: center;
    justify-content: center;
}

.asideInf ul{
    display: flex;
    flex-direction: column;
}

/* (I) Todas as marcações da parte central lateral */

/* (I) Todas as marcações do regressor */

/* (O) Todas as marcações da parte central */

.mid-bar{
    /* background-color: #0b6303;  */
    /*grid-template-divisor*/
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.mid-bar .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-bar img{
    max-width: 130px;
    max-height: 105px;
    pointer-events: none;
}

/* (I) Todas as marcações da parte central */

/* (O) Todas as marcações da parte inferior esquerda */

.gallery-selectors{
    /* background-color: #a4ed3f;  */
    /*grid-template-divisor*/
    grid-area: selector;
    display: grid;
    align-items: center;
    justify-content: center;
}
/* (I) Todas as marcações da parte inferior esquerda */

/* (O) Todas as marcações da parte inferior direita */

.go-to-down{
    /* background-color: #44c4c9;  */
    /*grid-template-divisor*/
    grid-area: go-down;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

/* (I) Todas as marcações da parte inferior direita */